@model PcConfigurator.Models.CpuModels.CpuAddModel

@{
    ViewBag.Title = "Add CPU";
}
<br/>
<form action="@Request.Url.AbsoluteUri" method="POST">
    <div class="form-group">
        <label>CPU Name</label>
        @Html.TextBoxFor(m => Model.Name, new {@class = "form-control", style = "width:40%"})
    </div>
    <div class="form-group">
        <label>CPU Brand</label>
        @Html.TextBoxFor(m => Model.Brand, new {@class = "form-control", style = "width:40%"})
    </div>
    <div class="form-group">
        <label>CPU Socket</label>
        @Html.TextBoxFor(m => Model.Socket, new {@class = "form-control", style = "width:40%"})
    </div>
    <button type="submit" class="btn btn-lg btn-primary">
        Add CPU
    </button>
</form>