@model PcConfigurator.Models.CpuModels.CpuIndexModel

@{
    ViewBag.Title = "Cpus";
}
<br/>
@if (Model.CpuList.Count > 0)
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Number</th>
            <th>Brand</th>
            <th>Socket</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var cpu in Model.CpuList)
        {
            <tr>
                <td>@Html.ActionLink(cpu.Name, "Single", "Cpu", new {cpu.Id}, null)</td>
                <td>@cpu.Brand</td>
                <td>@cpu.Socket</td>
                <td>@Html.ActionLink("Remove", "Remove", "Cpu", new {cpu.Id}, null)</td>
            </tr>
        }
        </tbody>
    </table>
}