@model PcConfigurator.Models.CpuModels.CpuSingleModel
@{
    ViewBag.Title = "Single CPU";
}

<br/>

@if (Model.Entity != null)
{
    <h2>@Model.Entity.Brand @Model.Entity.Name</h2>
    <br/>
    <p>For @Model.Entity.Socket</p>
}