body {
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt {
    white-space: normal;
}


#wizard #bar {
    -ms-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -ms-border-top-left-radius: 0;
    border-top-left-radius: 0;
    border: 1px solid #464545;
    height: 20px;
    background: none;
}

#wizard .setup-panel {
    -ms-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -ms-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
    margin-bottom: 0;
}
